.custom-nav{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
}

.brand{
    padding-left: 10px;
    font-size: 36px;
    font-weight: 650;
    font-family: 'OCR A Std', 'monospace';
    color:white
}

.brand:hover{
    opacity: 0.8;
    color: white;
}

.brand-logo{
    max-width:40px;
    background-color: white;
}

.link{
    color:white;
    font-size:16px;
    font-weight: 500;
}

.link:hover{
    opacity: 0.8;
    color: white;
}
